# DataNights-VISceral
#### C칩digo estructurado para las #DataNights de VISceral

<details>
    <summary><strong>Meta</strong></summary>
    La meta de este notebook es recrear el an치lisis de <a href="https://twitter.com/moaimx">@moaimx</a> que hizo en <a href="https://twitter.com/search?q=%23datanights&src=typed_query">#DataNights</a>
    <ul>
        <li> Limpiar las bases de datos del Secretariado sobre carpetas de investigaci칩n y v칤ctimas de homicidios dolosos. </li>
        <ul>
            <li> Extraer y transformar el conjunto de datos <strong>Estatal-Delitos-2015-2019_mar19.zip</strong> y <strong>Estatal-V칤ctimas-2015-2019_mar19.zip</strong></li>
            <li> Guardar las bases de datos en formato .csv para facilitar el uso en un futuro. </li>
            <li> Crear una base de datos lista para visualizaci칩n (en formato <i>tidy</i>). </li>
        </ul>
    </ul>
</details>

<details>
    <summary><strong>Contexto</strong></summary>
    Adquirimos los datos en bruto del <a href="http://www.morlan.mx/blog/2019/04/21/datanights-y-el-regreso-de-este-blog/">blog sobre #DataNights </a> en <a href="morlan.mx">morlan.mx</a>
    Tambi칠n seguiremos cercanamente los pasos para recrear lo que hicieron en los primeros dos episodios:
    <ul>
        <li><a href="https://www.youtube.com/watch?v=K2cYa41zmdw"> Episodio 1 </a></li>
        <li><a href="https://www.youtube.com/watch?v=xxQlCioKTe8"> Episodio 2 </a></li>
    </ul>
</details>

In [1]:
import pandas as pd
from zipfile import ZipFile
from pathlib import Path
from herramientas import arbol
from datetime import datetime as dt
hoy = dt.today().strftime("%d-%b-%y")

hoy

'30-May-19'

In [2]:
DATOS_BRUTOS = Path("../datos/brutos/")
DATOS_INTERINOS = Path("../datos/interinos/")
DATOS_PROCESADOS = Path("../datos/procesados/")
DATOS_EXTERNOS = Path("../datos/externos/")

In [3]:
arbol(DATOS_BRUTOS)

+ ..\datos\brutos
    + Estatal-Delitos-2015-2019_mar19.zip
    + Estatal-V칤ctimas-2015-2019_mar19.zip

***
## Extraer datos de un archivo .zip
Para extraer datos de un archivo `.zip` utilizamos la biblioteca 游닄 de python `zipfile` de la siguiente manera:

<details>
    <summary>Nota</summary>
    En la primera celda de c칩digo de este notebook importamos el objeto <code style="background-color:#eeeeee">ZipFile</code> de la biblioteca <code style="background-color:#eee">zipfile</code>
</details>

In [4]:
archivo_zip_delitos = ZipFile(DATOS_BRUTOS / "Estatal-Delitos-2015-2019_mar19.zip")

<details>
    <summary>Nota sobre <code style="background-color:#eee">DATOS_BRUTOS / <span style="color:#ba2121">"Estatal-Delitos-2015-2019_mar19.zip"</span></code></summary>
    El objeto <code style="background-color:#eeeeee">Path</code> de la biblioteca <code style="background-color:#eee">pathlib</code> tiene la "habilidad" de conectar rutas de archivos utilizando el s칤mbolo "/". Independientemente del sistema operativo que utilices. <br>
    Lo cual significa que si <code style="background-color:#eee">DATOS_BRUTOS / <span style="color:#ba2121">"Estatal-Delitos-2015-2019_mar19.zip"</span></code> es igual a <code style="background-color:#eee;color:#ba2121">"../datos/brutos/Estatal-Delitos-2015-2019_mar19.zip"</code> <br>
    o <code style="background-color:#eee;color:#ba2121">"..\datos\brutos\Estatal-Delitos-2015-2019_mar19.zip"</code> si estas en Windows (se formatea automaticamente).
</details>

Ahora `archivo_zip_delitos` es un objeto `ZipFile` as칤 que podemos hacer lo siguiente:

In [6]:
# ver la lista de archivos que tiene
archivo_zip_delitos.filelist

In [7]:
# extraer los archivos

In [8]:
archivo_zip_delitos.extractall(path = DATOS_INTERINOS)

Ahora en nuestro archivo `datos/interinos/` existe el archivo `'Estatal Delitos - marzo 2019.xlsb'`

In [9]:
arbol(DATOS_INTERINOS)

+ ..\datos\interinos
    + Estatal Delitos - marzo 2019.xlsb

Hagamos lo mismo con el archivo de v칤ctimas.

In [10]:
archivo_zip_victimas = ZipFile(DATOS_BRUTOS / 'Estatal-V칤ctimas-2015-2019_mar19.zip')
archivo_zip_victimas.extractall(DATOS_INTERINOS)

In [11]:
arbol(DATOS_INTERINOS)

+ ..\datos\interinos
    + Estatal Delitos - marzo 2019.xlsb
    + Estatal V칤ctimas - marzo 2019.xlsb

***
## Leer archivos Excel en `Pandas`

`Pandas` tiene la habilidad de leer archivos excel directamente pero un archivo excel esta compuesto de varias hojas as칤 que leemos estas hojas en dos pasos:

In [12]:
archivo_delitos = pd.ExcelFile(DATOS_INTERINOS / 'Estatal Delitos - marzo 2019.xlsb', )

XLRDError: Excel 2007 xlsb file; not supported

Archivos XLSB (Excel Binario) no tienen soporte en las bibliotecas modernas de python pero existe una biblioteca no muy conocida llamada `pyxlsb` que nos puede ayudar. <br>
La puedes instalar con `pip` desde tu terminal:
```shell
pip install pyxlsb
```

In [13]:
import pyxlsb
# vamos a excribir csv a la anti칲ita
import csv

In [22]:
with pyxlsb.open_workbook(DATOS_INTERINOS / 'Estatal Delitos - marzo 2019.xlsb') as workbook:
    for nombre in workbook.sheets:
        with workbook.get_sheet(nombre) as hoja, open(DATOS_INTERINOS / f"delitos-{nombre}.csv", 'w',  encoding = 'utf-8') as f:
            escritor_csv = csv.writer(f)
            for fila in hoja.rows():
                escritor_csv.writerow([celda.v for celda in fila])

In [20]:
arbol(DATOS_INTERINOS)

+ ..\datos\interinos
    + delitos-Hoja1.csv
    + Estatal Delitos - marzo 2019.xlsb
    + Estatal V칤ctimas - marzo 2019.xlsb

Lo que estamos haciendo es:
1. Abrir el archivo y asignandolo a la variable "workbook"
2. Creamos una "loop" (o bucle) para hacer X ejercicio en cada hoja del workbook (`workbook.sheets`)
3. Creamos un archivo "delitos-{nombre de la hoja}.csv" 
4. Creamos un "escritor" de csv 
5. Hacemos otra "loop" (o bucle) y por cada fila en nuestra hoja creamos una lista con los valores de cada celda en esa fila la cual escribimos a nuestro archivo .csv <- esta es la parte m치s d칤ficil de comprender porque son 3 pasos en uno.

Hagamos lo mismo con el archivo de v칤ctimas:

In [23]:
with pyxlsb.open_workbook(DATOS_INTERINOS / 'Estatal V칤ctimas - marzo 2019.xlsb') as workbook:
    for nombre in workbook.sheets:
        with workbook.get_sheet(nombre) as hoja, open(DATOS_INTERINOS / f"victimas-{nombre}.csv", 'w', encoding = 'utf-8') as f:
            escritor_csv = csv.writer(f)
            for fila in hoja.rows():
                escritor_csv.writerow([celda.v for celda in fila])

In [25]:
arbol(DATOS_INTERINOS)

+ ..\datos\interinos
    + delitos-Hoja1.csv
    + Estatal Delitos - marzo 2019.xlsb
    + Estatal V칤ctimas - marzo 2019.xlsb
    + victimas-Hoja1.csv

Esta "loop" crea un archivo `.csv` por cada hoja en el archivo `.xlsb` as칤 que este pedacito de c칩digo funciona aunque tu archivo excel tenga 150 hojas.

***
## Creando un conjunto de datos listos para visualizaci칩n (en formato `tidy`)

Hasta el momento llevamos 2 de nuestras 3 metas:<br>
<input type="checkbox" checked> Extraer y transformar el conjunto de datos <strong>Estatal-Delitos-2015-2019_mar19.zip</strong> y <strong>Estatal-V칤ctimas-2015-2019_mar19.zip</strong><br>
<input type="checkbox" checked> Guardar las bases de datos en formato .csv para facilitar el uso en un futuro.<br>
<input type="checkbox" > Crear una base de datos lista para visualizaci칩n (en formato <i>tidy</i>).

El limpiar y restructurar datos siempre es lo que lleva m치s tiempo en el proceso de an치lisis de datos.

In [26]:
delitos = pd.read_csv(DATOS_INTERINOS / 'delitos-Hoja1.csv')
victimas = pd.read_csv(DATOS_INTERINOS / 'victimas-Hoja1.csv')

In [27]:
delitos.head()

,A침o,Clave_Ent,Entidad,Bien jur칤dico afectado,Tipo de delito,Subtipo de delito,Modalidad,Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre
0,2015.0,1.0,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,Con arma de fuego,3.0,0.0,2.0,1.0,1.0,1.0,2.0,1.0,2.0,2.0,2.0,1.0
1,2015.0,1.0,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,Con arma blanca,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
2,2015.0,1.0,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,Con otro elemento,0.0,0.0,2.0,2.0,3.0,2.0,0.0,1.0,2.0,0.0,0.0,0.0
3,2015.0,1.0,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,No especificado,2.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2015.0,1.0,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio culposo,Con arma de fuego,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [28]:
victimas.head()

,A침o,Clave_Ent,Entidad,Bien jur칤dico afectado,Tipo de delito,Subtipo de delito,Modalidad,Sexo,Rango de edad,Enero,...,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre
0,2015.0,1.0,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,Con arma de fuego,Mujer,Menores de edad (0-17),0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2015.0,1.0,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,Con arma blanca,Mujer,Menores de edad (0-17),0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2015.0,1.0,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,Con otro elemento,Mujer,Menores de edad (0-17),0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,2015.0,1.0,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,No especificado,Mujer,Menores de edad (0-17),0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2015.0,1.0,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio culposo,Con arma de fuego,Mujer,Menores de edad (0-17),0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### NOTA:
Este tutorial **asume** que viste los episodios 1 y 2 de #DataNights. No vamos a explicar porque estamos escogiendo las variables que estamos escogiendo o lo que ilustran cada uno de estos conjuntos de datos.

El producto final de ambos conjuntos (v칤ctimas y delitos) es parecido: un conjunto de datos con las columnas "A침o", "Mes", "Delitos" o "V칤ctimas" donde esta la cuenta total (agregada) de los delitos o v칤ctimas en M칠xico en ese A침o-Mes.

### Filtrando datos
Primero vemos los valores _unicos_ en nuestra columna 'Supbipo de delito' para asegurarnos de que no haya errores de dedo. Por ejemplo, en bases de datos de baja calidad puedes encontrar:
1. "Homicidio doloso"
2. "Homicidio doloso "
3. " Homicidio doloso"
4. "homicidio doloso"
5. "Homicidio Doloso"

Todos estos valores son distintos para `pandas`.

In [31]:
delitos['Subtipo de delito'].unique()

array(['Homicidio doloso', 'Homicidio culposo', 'Lesiones dolosas',
       'Lesiones culposas', 'Feminicidio', 'Aborto',
       'Otros delitos que atentan contra la vida y la integridad corporal',
       'Secuestro', 'Tr치fico de menores', 'Rapto',
       'Otros delitos que atentan contra la libertad personal',
       'Abuso sexual', 'Acoso sexual', 'Hostigamiento sexual',
       'Violaci칩n simple', 'Violaci칩n equiparada', 'Incesto',
       'Otros delitos que atentan contra la libertad y la seguridad sexual',
       'Robo a casa habitaci칩n', 'Robo de veh칤culo automotor',
       'Robo de autopartes', 'Robo a transportista',
       'Robo a transe칰nte en v칤a p칰blica',
       'Robo a transe칰nte en espacio abierto al p칰blico',
       'Robo en transporte p칰blico individual',
       'Robo en transporte p칰blico colectivo',
       'Robo en transporte individual', 'Robo a instituci칩n bancaria',
       'Robo a negocio', 'Robo de ganado', 'Robo de maquinaria',
       'Otros robos', 'Fraude', 'Abuso de confianza', 'Extorsi칩n',
       'Da침o a la propiedad', 'Despojo',
       'Otros delitos contra el patrimonio', 'Violencia familiar',
       'Violencia de g칠nero en todas sus modalidades distinta a la violencia familiar',
       'Incumplimiento de obligaciones de asistencia familiar',
       'Otros delitos contra la familia', 'Corrupci칩n de menores',
       'Trata de personas', 'Otros delitos contra la sociedad',
       'Narcomenudeo', 'Amenazas', 'Allanamiento de morada',
       'Evasi칩n de presos', 'Falsedad', 'Falsificaci칩n',
       'Contra el medio ambiente',
       'Delitos cometidos por servidores p칰blicos', 'Electorales',
       'Otros delitos del Fuero Com칰n'], dtype=object)

Ya que vemos que nuestra columna 'Subtipo de delito' si est치 bien construida/limpia podemos crear "m치scaras" para filtrar los datos.

In [35]:
mascara_homicidio_doloso_delitos = delitos['Subtipo de delito'] == 'Homicidio doloso'
mascara_homicidio_doloso_victimas = victimas['Subtipo de delito'] == 'Homicidio doloso'

Para m치s informaci칩n sobre como funciona esto ve los videos de DataNights.

In [36]:
delitos[mascara_homicidio_doloso_delitos].head()

,A침o,Clave_Ent,Entidad,Bien jur칤dico afectado,Tipo de delito,Subtipo de delito,Modalidad,Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre
0,2015.0,1.0,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,Con arma de fuego,3.0,0.0,2.0,1.0,1.0,1.0,2.0,1.0,2.0,2.0,2.0,1.0
1,2015.0,1.0,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,Con arma blanca,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
2,2015.0,1.0,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,Con otro elemento,0.0,0.0,2.0,2.0,3.0,2.0,0.0,1.0,2.0,0.0,0.0,0.0
3,2015.0,1.0,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,No especificado,2.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
98,2015.0,2.0,Baja California,La vida y la Integridad corporal,Homicidio,Homicidio doloso,Con arma de fuego,20.0,26.0,33.0,42.0,49.0,43.0,46.0,50.0,57.0,44.0,51.0,36.0

In [37]:
victimas[mascara_homicidio_doloso_victimas].head()

,A침o,Clave_Ent,Entidad,Bien jur칤dico afectado,Tipo de delito,Subtipo de delito,Modalidad,Sexo,Rango de edad,Enero,...,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre
0,2015.0,1.0,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,Con arma de fuego,Mujer,Menores de edad (0-17),0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2015.0,1.0,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,Con arma blanca,Mujer,Menores de edad (0-17),0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2015.0,1.0,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,Con otro elemento,Mujer,Menores de edad (0-17),0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,2015.0,1.0,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,No especificado,Mujer,Menores de edad (0-17),0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35,2015.0,1.0,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,Con arma de fuego,Mujer,Adultos (18 y m치s),0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

Nota el _brinco_ en el 칤ndice en ambos **DataFrames**. Esto significa que hemos eliminado todas las filas que no cumplan el requisito de la "m치scara" (que la columna "Subtipo de delito" equivalga "Homicidio doloso").

In [38]:
delitos = delitos[mascara_homicidio_doloso_delitos].copy()
victimas = victimas[mascara_homicidio_doloso_victimas].copy()

<details>
    <summary>Nota sobre <code style="background-color:#eee">.<span style="color:#0055AA">copy</span>()</code></summary>
    Utilizar <code style="background-color:#eee">.<span style="color:#0055AA">copy</span>()</code> no es necesario ya que estamos sobreescribiendo la variable delitos. <code style="background-color:#eee">.<span style="color:#0055AA">copy</span>()</code> es necesario cuando estas creando una copia de una parte de otro DataFrame. Pandas por defecto va a crear una especie de "vista" en lugar de una copia copia. Esto puede tener consecuencias no deseadas m치s adelante en tus an치lisis. As칤 que es buena practica utilizar <code style="background-color:#eee">.<span style="color:#0055AA">copy</span>()</code>
</details>

### Trabajando con fechas
`python` es muy bueno trabajando con fechas. En la biblioteca est치ndard (que viene incluida en `python`) existe el paquete `datetime` para trabajar con fechas y tiempos. Es posible utilizar este paquete para trabajar con fechas en espa침ol tambi칠n (s칩lo es cuesti칩n de cambiar el `LC_TIME`) pero existen otros paquetes como `arrow` que hacen el proceso de trabajar con fechas mucho m치s amigable.

In [41]:
import arrow

In [43]:
arrow.locales.SpanishLocale.month_names

['',
 'enero',
 'febrero',
 'marzo',
 'abril',
 'mayo',
 'junio',
 'julio',
 'agosto',
 'septiembre',
 'octubre',
 'noviembre',
 'diciembre']

`Arrow` tiene "locales" para muchos muchos idiomas. En este caso vamos a utilizar el `SpanishLocale` para obtener una lista de los meses m치s rapidamente que escribiendolos a mano.

In [45]:
# esta es una list comprehension - ve el video de DataNights para aprender m치s sobre esto
meses = [mes.title() for mes in arrow.locales.SpanishLocale.month_names if mes]
meses

['Enero',
 'Febrero',
 'Marzo',
 'Abril',
 'Mayo',
 'Junio',
 'Julio',
 'Agosto',
 'Septiembre',
 'Octubre',
 'Noviembre',
 'Diciembre']

Nota: agregamos el `if mes` para decirle a `python` que me de un `mes` con la primera letra en may칰scula (`.title()`) **s칩lo** si `mes` existe/es `True`. En `python` las cadenas ( o _strings_) tienen un valor equivalente a `False` si est치n vac칤as (como el primer valor de la lista `arrow.locales.SpanishLocale.month_names`).

Ahora podemos crear una lista de "columnas de inter칠s", las columnas que vamos a utilizar en nuestro an치lisis. Aqu칤 es de donde partimos un poco del proceso utilizado en DataNights. 

Hacemos esto por preferencia personal. Antes de restructurar conjuntos de datos, a m칤, en lo personal, me gusta filtrar todo lo que no voy a utilizar. Esto significa, eliminar filas **y** columnas que no crea necesarias para mi an치lisis. 

Primero creamos una lista de columnas que nos interesan. En este caso van a ser el A침o y los meses. Como ya tenemos una lista de meses lo que hacemos es `extend`er una primera lista (que solo tiene "A침o") para incluir los meses.

In [46]:
columnas_de_interes = ['A침o']
columnas_de_interes.extend(meses)
columnas_de_interes

['A침o',
 'Enero',
 'Febrero',
 'Marzo',
 'Abril',
 'Mayo',
 'Junio',
 'Julio',
 'Agosto',
 'Septiembre',
 'Octubre',
 'Noviembre',
 'Diciembre']

Esto funciona igual que las m치scaras que utilizamos anteriormente para filtrar filas. Y ya que ambos **DataFrame**s tienen las mismas columnas, no ocupamos crear dos "m치scaras".

In [47]:
delitos[columnas_de_interes].head()

,A침o,Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre
0,2015.0,3.0,0.0,2.0,1.0,1.0,1.0,2.0,1.0,2.0,2.0,2.0,1.0
1,2015.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
2,2015.0,0.0,0.0,2.0,2.0,3.0,2.0,0.0,1.0,2.0,0.0,0.0,0.0
3,2015.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
98,2015.0,20.0,26.0,33.0,42.0,49.0,43.0,46.0,50.0,57.0,44.0,51.0,36.0

In [48]:
victimas[columnas_de_interes].head()

,A침o,Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre
0,2015.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2015.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2015.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,2015.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35,2015.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [49]:
delitos = delitos[columnas_de_interes].copy()
victimas = victimas[columnas_de_interes].copy()

### Derretir nuestos datasets
Reitero: No vamos a explicar todo esto en este tutorial. Si no sabes lo que estamos haciendo aqu칤, ve a ver los episodios 1 y 2 de #DataNights.

In [68]:
delitos_derretido = delitos.melt(id_vars = 'A침o', var_name = 'Mes', value_name = 'Cuenta (carpetas)')
victimas_derretido = victimas.melt(id_vars = 'A침o', var_name = 'Mes', value_name = 'Cuenta (victimas)')

Ya que tenemos nuestros nuevos **DataFrame**s en esta nueva estructura (derretida) es cuando yo modificar칤a los valores.

In [53]:
victimas_derretido.head()

      A침o    Mes  Cuenta (victimas)
0  2015.0  Enero                0.0
1  2015.0  Enero                0.0
2  2015.0  Enero                0.0
3  2015.0  Enero                0.0
4  2015.0  Enero                0.0

Necesitamos un _diccionario_ con los nombres del mes como llave y sus valores correspondientes (01-12). 

Igual que hicimos una "list comprehension" podemos hacer un "dict comprehension"

In [55]:
{mes: valor for valor, mes in enumerate(meses, start = 1)}

{'Enero': 1,
 'Febrero': 2,
 'Marzo': 3,
 'Abril': 4,
 'Mayo': 5,
 'Junio': 6,
 'Julio': 7,
 'Agosto': 8,
 'Septiembre': 9,
 'Octubre': 10,
 'Noviembre': 11,
 'Diciembre': 12}

Pero queremos los valores en formato "01" en lugar de 1. Para eso utilizamos `.zfill()`

In [56]:
{mes: str(valor).zfill(2) for valor, mes in enumerate(meses, start = 1)}

{'Enero': '01',
 'Febrero': '02',
 'Marzo': '03',
 'Abril': '04',
 'Mayo': '05',
 'Junio': '06',
 'Julio': '07',
 'Agosto': '08',
 'Septiembre': '09',
 'Octubre': '10',
 'Noviembre': '11',
 'Diciembre': '12'}

In [57]:
sustituciones_meses = {mes: str(valor).zfill(2) for valor, mes in enumerate(meses, start = 1)}

Ahora podemos sustituir nuestra columna de "Mes" por valores n칰mericos (m치s o menos n칰mericos).

In [69]:
victimas_derretido["Mes"] = victimas_derretido["Mes"].map(sustituciones_meses)
delitos_derretido["Mes"] = delitos_derretido["Mes"].map(sustituciones_meses)

In [70]:
victimas_derretido.head()

      A침o Mes  Cuenta (victimas)
0  2015.0  01                0.0
1  2015.0  01                0.0
2  2015.0  01                0.0
3  2015.0  01                0.0
4  2015.0  01                0.0

Ahora transformamos nuestra columna "A침o" a _string_ para concatenarla con "Mes" para tener una columna "A침o-Mes" que utilizaremos como nuestro eje X.

Primero la convertimos a `int` o enteros para deshacernos del .0 al final de cada n칰mero.

In [71]:
victimas_derretido['A침o'] = victimas_derretido['A침o'].astype(int).astype(str)
delitos_derretido['A침o'] = delitos_derretido['A침o'].astype(int).astype(str)

In [72]:
victimas_derretido.head()

    A침o Mes  Cuenta (victimas)
0  2015  01                0.0
1  2015  01                0.0
2  2015  01                0.0
3  2015  01                0.0
4  2015  01                0.0

In [73]:
victimas_derretido['Fecha'] = victimas_derretido["A침o"] + '-' + victimas_derretido['Mes']
delitos_derretido['Fecha'] = delitos_derretido["A침o"] + '-' + delitos_derretido['Mes']

In [74]:
victimas_derretido.head()

    A침o Mes  Cuenta (victimas)    Fecha
0  2015  01                0.0  2015-01
1  2015  01                0.0  2015-01
2  2015  01                0.0  2015-01
3  2015  01                0.0  2015-01
4  2015  01                0.0  2015-01

Ya que tenemos estos valores "Fecha" podemos agrupar nuestros datos por esta columna y agregarlos:

In [77]:
victimas_derretido.groupby("Fecha")['Cuenta (victimas)'].sum().head()

Fecha
2015-01    1354.0
2015-02    1388.0
2015-03    1379.0
2015-04    1442.0
2015-05    1601.0
Name: Cuenta (victimas), dtype: float64

In [78]:
victimas_derretido.groupby("Fecha")[['Cuenta (victimas)']].sum().head()

         Cuenta (victimas)
Fecha
2015-01             1354.0
2015-02             1388.0
2015-03             1379.0
2015-04             1442.0
2015-05             1601.0

Nota que si utilizas [["___________"]] en lugar de un solo par de corchetes recibir치s un **DataFrame** en lugar de una **Serie** de pandas por defecto.

In [80]:
victimas_agrupado = victimas_derretido.groupby("Fecha")[['Cuenta (victimas)']].sum().reset_index()
delitos_agrupado = delitos_derretido.groupby("Fecha")[['Cuenta (carpetas)']].sum().reset_index()

In [83]:
victimas_agrupado.head()

     Fecha  Cuenta (victimas)
0  2015-01             1354.0
1  2015-02             1388.0
2  2015-03             1379.0
3  2015-04             1442.0
4  2015-05             1601.0

Pero como vimos en #DataNights, nuestro conjunto de datos tiene columnas para todos los meses del a침o pero valores solo hasta marzo 2019. Esto significa que empezando en abril, los valores son en nuestro conjunto modificado son 0:

In [84]:
victimas_agrupado.tail()

      Fecha  Cuenta (victimas)
55  2019-08                0.0
56  2019-09                0.0
57  2019-10                0.0
58  2019-11                0.0
59  2019-12                0.0

Como nuestros datos estan ordenados podemos hacer algo como

In [90]:
victimas_agrupado[:-9]

      Fecha  Cuenta (victimas)
0   2015-01             1354.0
1   2015-02             1388.0
2   2015-03             1379.0
3   2015-04             1442.0
4   2015-05             1601.0
5   2015-06             1467.0
6   2015-07             1539.0
7   2015-08             1675.0
8   2015-09             1502.0
9   2015-10             1464.0
10  2015-11             1581.0
11  2015-12             1494.0
12  2016-01             1529.0
13  2016-02             1590.0
14  2016-03             1708.0
15  2016-04             1649.0
16  2016-05             1878.0
17  2016-06             1783.0
18  2016-07             2076.0
19  2016-08             2135.0
20  2016-09             2164.0
21  2016-10             2007.0
22  2016-11             2001.0
23  2016-12             2028.0
24  2017-01             2136.0
25  2017-02             2077.0
26  2017-03             2202.0
27  2017-04             2185.0
28  2017-05             2421.0
29  2017-06             2508.0
30  2017-07             2399.0
31  2017-08             2470.0
32  2017-09             2547.0
33  2017-10             2763.0
34  2017-11             2572.0
35  2017-12             2588.0
36  2018-01             2562.0
37  2018-02             2418.0
38  2018-03             2770.0
39  2018-04             2762.0
40  2018-05             2916.0
41  2018-06             2721.0
42  2018-07             3058.0
43  2018-08             2934.0
44  2018-09             2944.0
45  2018-10             2837.0
46  2018-11             2717.0
47  2018-12             2879.0
48  2019-01             2855.0
49  2019-02             2802.0
50  2019-03             2836.0

eliminando las ultimas 9 filas del **DataFrame**. Tambi칠n sabemos ning칰n par de A침o-Mes tiene un valor equivalente a 0 de manera natural as칤 que podemos crear una m치scara para filtrar las filas que no cumplan este requisito.

In [91]:
mascara_cuenta_victimas = victimas_agrupado['Cuenta (victimas)'] > 0
mascara_cuenta_delitos = delitos_agrupado['Cuenta (carpetas)'] > 0

In [92]:
delitos_agrupado[mascara_cuenta_delitos]

      Fecha  Cuenta (carpetas)
0   2015-01             1197.0
1   2015-02             1218.0
2   2015-03             1235.0
3   2015-04             1297.0
4   2015-05             1410.0
5   2015-06             1361.0
6   2015-07             1360.0
7   2015-08             1517.0
8   2015-09             1382.0
9   2015-10             1352.0
10  2015-11             1426.0
11  2015-12             1366.0
12  2016-01             1419.0
13  2016-02             1434.0
14  2016-03             1507.0
15  2016-04             1474.0
16  2016-05             1709.0
17  2016-06             1597.0
18  2016-07             1817.0
19  2016-08             1905.0
20  2016-09             1908.0
21  2016-10             1774.0
22  2016-11             1809.0
23  2016-12             1800.0
24  2017-01             1912.0
25  2017-02             1807.0
26  2017-03             1978.0
27  2017-04             1940.0
28  2017-05             2149.0
29  2017-06             2188.0
30  2017-07             2014.0
31  2017-08             2113.0
32  2017-09             2161.0
33  2017-10             2361.0
34  2017-11             2190.0
35  2017-12             2222.0
36  2018-01             2168.0
37  2018-02             2063.0
38  2018-03             2368.0
39  2018-04             2384.0
40  2018-05             2556.0
41  2018-06             2343.0
42  2018-07             2633.0
43  2018-08             2553.0
44  2018-09             2572.0
45  2018-10             2474.0
46  2018-11             2366.0
47  2018-12             2476.0
48  2019-01             2455.0
49  2019-02             2377.0
50  2019-03             2410.0

In [93]:
delitos_agrupado = delitos_agrupado[mascara_cuenta_delitos].copy()
victimas_agrupado = victimas_agrupado[mascara_cuenta_victimas].copy()

# 춰Listo!
Tenemos nuestros conjuntos de datos listos para visualizar. 
Guardemoslos en formato `.csv` para facilitar su uso en un futuro.

In [94]:
delitos_agrupado.to_csv(DATOS_PROCESADOS / f'carpetas-cuenta-{hoy}.csv', encoding = 'utf-8', index = False)
victimas_agrupado.to_csv(DATOS_PROCESADOS / f'victimas-cuenta-{hoy}.csv', encoding = 'utf-8', index = False)

***
## Visualizaci칩n
Para mantener nuestro entorno de trabajo organizado crearemos nuestra visualizaci칩n en otro notebook.